<label> Server Name</label>
<!--Passing $event data to components-->
<!--<input type="text" class="form-control" (input)="onUpdateServerName($event)">-->
<!--Two-Way binding-->
<input type="text" class="form-control" [(ngModel)]="serverName">
<!--<p>{{serverName}}</p>-->
<button class="btn btn-primary" [disabled]="!allowNewSever" (click)="onCreateServer()">Add Server</button>
<!--property binding-->
<!--<p [innerText]="allowNewSever"></p>-->
<!--String Interpolation-->
<!--<p>{{allowNewSever}}</p>-->
<!--<p>{{serverCreationStatus}}</p>-->
<p *ngIf="serverCreated; else noServer"> Server was created, server name is {{serverName}}</p>
<ng-template #noServer><p>No server was created!</p></ng-template>
<app-server></app-server>
<app-server></app-server>
